.history-body {
  @include area();
  &__main {
    height: 720px;
    &__blank {
      @include line-height();
      margin-left: 30px
    }
    &__select {
      @include display-flex();
      @include line-height();
      &__spending {
        width: 58%;
        text-align: center;
        font-size: 20px;
      }
      &__income {
        width: 38%;
        text-align: center;
        font-size: 20px;
      }
    }
    &__field {
      @include display-flex();
      height: 400px;
      &__spending {
        @include area(400px, 53%);
        overflow-y: scroll;
        border:1px solid gray;
        background-color: #ffffdd;
        &__title {
          @include display-flex(flex, left);
          @include line-height(32px, 32px);
          @include sticky(sticky, 0px, 100, center, #ffffdd);
          &:before{
            content: "";
            position: absolute;
            top: -1px;
            left: -1px;
            @include area();
            border: 1px solid #ccc;
          }
          &__date {
            @include history-border();
            width: 20%;
          }
          &__category {
            @include history-border();
            width: 25%;
          }
          &__item-name {
            @include history-border();
            width: 20%;
          }
          &__price {
            @include history-border();
            width: 15%;
          }
          &__memo {
            border-bottom:1px solid gray;
            width: 20%;
          }
        }
        &__all {
          font-size: 13px;
          z-index: 2;
          &__each {
            @include display-flex(flex, left);
            @include line-height(30px, 30px);
            padding-left: 10px;
            border-bottom:1px solid gray;
            &:hover {
              background-color: skyblue;
            }
            &__edit {
              margin-right: 5px;
            }
            &__destroy {
              margin-right: 5px;
            }
            &__date {
              width: 20%;
            }
            &__category {
              width: 25%;
            }
            &__item-name {
              width: 20%;
            }
            &__price {
              text-align: right;
              padding-right: 30px;
              width: 15%;
            }
            &__memo {
              width: 20%;
            }
          }
        }
      }
      &__income {
        @include area(400px, 43%);
        overflow-y: scroll;
        border:1px solid gray;
        background-color: #ddffdd;
        &__title {
          @include display-flex(flex, left);
          @include line-height(32px, 32px);
          @include sticky(sticky, 0px, 100, center, #ddffdd);
          &:before{
            content: "";
            position: absolute;
            top: -1px;
            left: -1px;
            @include area();
            border: 1px solid #ccc;
          }
          &__date {
            @include history-border();
            width: 25%;
          }
          &__category {
            @include history-border();
            width: 25%;
          }
          &__price {
            @include history-border();
            width: 25%;
          }
          &__memo {
            border-bottom:1px solid gray;  
            width: 25%;
          }
        }
        &__all {
          font-size: 13px;
          z-index: 2;
          &__each {
            @include display-flex(flex, left);
            @include line-height(30px, 30px);
            padding-left: 10px;
            border-bottom:1px solid gray;
            &:hover {
              background-color: skyblue;
            }
            &__edit {
              margin-right: 5px;
            }
            &__destroy {
              margin-right: 5px;
            }
            &__date {
              width: 25%;
            }
            &__category {
              width: 25%;
            }
            &__price {
              text-align: right;
              padding-right: 30px;
              width: 25%;
            }
            &__memo {
              width: 25%;
            }
          }
        }
      }
    }
    &__total {
      height: 300px;
      &__blank {
        height: 50px;
      }
      &__field {
        margin: auto;
        width: 80%;
        border:1px solid gray;
        &__title {
          @include line-height(32px, 32px);
          padding-left: 20px;
          background-color: rgb(203, 204, 212);
          border-bottom:1px solid gray;
        }
        &__term {
          @include line-height(30px, 30px);
          border-bottom:1px solid gray;
        }
        &__income {
          @include display-flex(flex, space-between);
          @include line-height(30px, 30px);
          padding-left: 30px;
          padding-right: 30px;
          border-bottom:1px solid gray;
        }
        &__spending {
          @include display-flex(flex, space-between);
          @include line-height(30px, 30px);
          padding-left: 30px;
          padding-right: 30px;
          border-bottom:1px solid gray;
        }
        &__balance {
          @include display-flex(flex, space-between);
          @include line-height(30px, 30px);
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
  }
}
