.analysis-body
  .analysis-body__header
    = render "users/header"
  .analysis-body__main
    .analysis-body__main__search
      = render "analyses/search-zone"
    .analysis-body__main__field
      .analysis-body__main__field__title
        .analysis-body__main__field__title__date
          日付
        .analysis-body__main__field__title__category
          カテゴリ
        .analysis-body__main__field__title__price
          金額
        .analysis-body__main__field__title__item-name
          品目名
        .analysis-body__main__field__title__memo
          メモ
      .analysis-body__main__field__results
        .analysis-body__main__field__results__each
  .analysis-body__footer
    = render "users/footer"