.income-body {
  &__breadcrumb {
    @include line-height();
    margin-left: 30px
  }
  &__title {
    @include line-height();
    width: 90%;
    text-align: center;
    margin: auto;
    font-size: 20px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: #ddffdd;
  }
  &__main {
    height: 200px;
    width: 90%;
    text-align: center;
    margin: auto;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #ddffdd;
  }
}