.analysis-search-body {
  height: 100%;
  width: 100%;
  &__main {
    height: 600px;
    &__search {
      height: 200px;
    }
    &__heading {
      text-align: center;
    }
    &__field {
      height: 300px;
      width: 90%;
      margin: auto;
      overflow-y: scroll;
      border:1px solid gray;
      background-color: whitesmoke;
      &__title {
        height: 32px;
        line-height: 32px;
        position: sticky;
        top: 0px;
        z-index: 100;
        text-align: center;
        display: flex;
        justify-content: left;
        background-color: whitesmoke;
        &:before{
          content: "";
          position: absolute;
          top: -1px;
          left: -1px;
          width: 100%;
          height: 100%;
          border: 1px solid #ccc;
        }
        &__date {
          width: 15%;
          border-right:1px solid gray;
          border-bottom:1px solid gray;
        }
        &__category {
          width: 30%;
          border-right:1px solid gray;
          border-bottom:1px solid gray;
        }
        &__price {
          width: 15%;
          border-right:1px solid gray;
          border-bottom:1px solid gray;
        }
        &__item-name {
          width: 20%;
          border-right:1px solid gray;
          border-bottom:1px solid gray;
        }
        &__memo {
          width: 20%;
          border-bottom:1px solid gray;
        }
      }
      &__results {
        &__each {
          height: 30px;
          line-height: 30px;
          text-align: center;
          border-bottom:1px solid gray;
          display: flex;
          justify-content: space-evenly;
          &__date {
            width: 15%;
          }
          &__category {
            width: 30%;
          }
          &__price {
            padding-right: 15px;
            text-align: right;
            width: 15%;
          }
          &__item-name {
            width: 20%;
          }
          &__memo {
            width: 20%;
          }
        }
      }
    }
  }
}