.analysis-body {
  @include area();
  &__main {
    height: 300px;
    &__search {
      height: 200px;
      &__field {
        height: 150px;
        padding-top: 30px;
        padding-left: 50px;
        align-items: center;
        border-bottom:1px solid gray;
      }
    }
    &__field {
      width: 90%;
      margin: auto;
      border:1px solid gray;
      background-color: whitesmoke;
      &__title {
        @include display-flex(flex, left);
        @include line-height(32px, 32px);
        @include sticky();
        &:before{
          content: "";
          position: absolute;
          top: -1px;
          left: -1px;
          @include area();
          border: 1px solid #ccc;
        }
        &__date {
          @include history-border();
          width: 15%;
        }
        &__category {
          @include history-border();
          width: 30%;
        }
        &__price {
          @include history-border();
          width: 15%;
        }
        &__item-name {
          @include history-border();
          width: 20%;
        }
        &__memo {
          width: 20%;
          border-bottom:1px solid gray;
        }
      }
    }
  }
}
.check-box {
  padding-right: 5px;
}