@import "reset";
@import "modules/user";
@import "users/show";
@import "inputs/show";
@import "histories/show";
@import "analyses/show";
@import "analyses/search";
@import "spendings/edit";
@import "incomes/edit";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "simple_calendar";
@import "inputs/calendar";

.notifications {
  // color: $white;
  text-align: center;  

  .notice {
    background-color: lightBlue;
  }

  .alert {
    background-color: orange;
  }
}