.user-body {
  height: 100%;
  width: 100%;
  position: relative;
  &__header {
    height: 130px;
    width: 100%;
    border-bottom:1px solid gray;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    &__title {
      line-height: 130px;
      font-size: 36px;
      margin: auto;
    }
    &__input {
      margin: auto;
    }
    &__background {
      margin: auto;
    }
    &__analysis {
      margin: auto;
    }
    &__blank {
      margin: auto;
    }
  }
  &__main {
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    &__left {
      height: 100%;
      width: 20%;
      border-right: 1px solid gray;
    }
    &__center {
      height: 100%;
      width: 55%;
      &__picture {
        height: 200px;
        width: 100%;
        position: relative;
        &__mypage {
          top: 20px;
          left: 50px;
          font-size: 26px;
          position: absolute;
        }
        &__data {
          height: 60px;
          width: 300px;
          right: 50px;
          bottom: 50px;
          position: absolute;
          display: flex;
          justify-content: space-around;
          &__times {
          }
          &__days {
          }
          &__serial {
          }
        }
      }
      &__situation {
        text-align: center;
        font-size: 20px;
        &__space {
          &__data {
            width: 80%;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 16px;
            border:double 3px gray;
            &__income {
              border-bottom:double 3px gray;
              display: flex;
              justify-content: space-between;
              &__title {
                margin-left: 20px;
              }
              &__sum {
                width: 25%;
                border-left:double 3px gray;
              }
            }
            &__spending {
              border-bottom:double 3px gray;
              display: flex;
              justify-content: space-between;
              &__title {
                margin-left: 20px;
              }
              &__sum {
                width: 25%;
                border-left:double 3px gray;
              }
            }
            &__balance {
              display: flex;
              justify-content: space-between;
              &__title {
                margin-left: 20px;
              }
              &__sum {
                width: 25%;
                border-left:double 3px gray;
              }
            }
          }
          &__link {
            font-size: 16px;
            display: flex;
            justify-content: space-evenly;
          }
        }
      }
    }
    &__right {
      height: 100%;
      width: 25%;
      border-left: 1px solid gray;
      &__input {
        height: 300px;
        width: 100%;
      }
      &__recent {
        height: 300px;
        width: 100%;
      }
    }
  }
  &__footer {
    height: 130px;
    width: 100%;
    line-height: 130px;
    border-top: 1px solid gray;
    text-align: center;
    background-color: white;
  }
}
.a {
  color: aquamarine;
  text-decoration: none;
}